/* IMPORTS */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Jim+Nightshade&family=Montserrat:ital,wght@0,300;0,400;0,500;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Jim+Nightshade&family=Jua&family=Montserrat:ital,wght@0,300;0,400;0,500;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Jim+Nightshade&family=Jua&family=Montserrat:ital,wght@0,300;0,400;0,500;1,300&family=Ojuju:wght@200..800&display=swap");

/* CONSTANTS */
:root {
    --color-background: #e2e8dd;
    --color-background-hover: #cee7ba;
    --color-navbar: #697268;
    --color-button: #ee6161;
    --color-button-hover: #ec2424;
    --font-header: "Jim Nightshade";
    --font-body: "Jua";
}
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* body {
    background-color: var(--color-background);
    margin: 0;
    font-family: var(--font-body);
}

/* NAVBAR  */
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

div.nav-nav {
    padding: 20px 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-navbar);
}

div.nav-holder {
    display: flex;
    flex-direction: row;
    align-items: center;
}

span.nav-link {
    margin: 0 10px;
}

.ul {
    color: white;
    text-decoration: none;
    font-size: 25px;
}

span.nav-link > a:hover {
    text-decoration: underline;
}

span.nav-link-main > a {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 45px;
    font-family: var(--font-header);
}

span.hamburger {
    display: none;
}
/* BACKGROUND SECTION  */
.background {
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
}

.background-img-contain {
    width: 100%;
    margin: 0;
}

.background-img-contain img {
    width: 100%;
    margin: 0;
    height: 100%;
}

.see-menu {
    position: relative;
    left: 50%;
    bottom: 45%;
    transform: translateX(-50%);
    padding: 20px 20px;
    background-color: var(--color-button);
    font-size: 20px;
    font-family: var(--font-body);
    color: #fff;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.see-menu:hover {
    background-color: var(--color-button-hover);
}

.hop-contain {
    background-color: var(--color-navbar);
    opacity: 0.45;
    width: 30%;
    text-align: center;
    justify-content: center;
    padding-top: 150px;
    vertical-align: middle;
    z-index: 10;
}

.hop-header {
    color: white;
    font-size: 50px;
    font-family: var(--font-header);
    padding-bottom: 50px;
}

.hop-list {
    list-style: none;
}
.hop-date {
    color: white;
    /* font-weight: 500; */
    font-size: 20px;
    margin: 30px 0;
}

/* AMENITIES AND LOCATION */
.am-lo {
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
    text-align: center;
}
.amenities-contain {
    width: 50%;
    align-items: center;
}

.amenities-head {
    font-family: var(--font-header);
    font-size: 30px;
    margin: 10px 0;
}

.amenities-row {
    margin: 0 20px;
    padding: 50px 70px;
    display: inline-block;
}

.amenity {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.amenity i {
    margin: 5px 5px;
    font-size: 45px;
}

.amenity-icon-name {
    margin-left: 5px;
    font-size: 15px;
}

.location-contain {
    width: 50%;
}

.location-head {
    font-family: var(--font-header);
    font-size: 30px;
    margin: 10px 0;
}

.location-img {
    border-radius: 8px;
    width: 100%;
    max-width: 350px;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* FEEDBACK RESPONSES */

.feedback-header {
    text-align: center;
    font-family: var(--font-header);
    font-size: 30px;
}

.feedback-contain {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.feedback-card {
    width: 250px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 50px;
}

.feedback-card:hover {
    background-color: var(--color-background-hover);
    cursor: pointer;
}

.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-img {
    width: 50px;
}

.stars {
    display: flex;
}

.stars .fa-star {
    color: #f2b01d;
    font-size: 16px;
    padding: 5px;
}
.stars .fa-star.none {
    color: #000;
}

.card-desc {
    margin-top: 10px;
}

/* FOOTER */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: var(--color-navbar);
    font-family: var(--font-header);
}

footer p {
    line-height: 0;
    font-size: 25px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1436px) {
    .location-img {
        border-radius: 8px;
        padding-top: 50px;
        width: 100%;
        max-width: 350px;
        height: auto;
        display: block;
        margin: 0 auto;
    }
}
@media screen and (max-width: 1217px) {
    .background {
        flex-direction: column;
        width: 100%;
    }

    .background-img-contain {
        width: 100%;
        height: 100%;
        position: relative;
        margin: 0;
    }

    .background-img {
        object-fit: cover;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .hop-contain {
        margin: 0px;
    }

    .see-menu {
        position: absolute;
        bottom: 35%;
        left: 50%;
    }

    .am-lo {
        margin-top: 0px;
        flex-direction: column;
    }

    .amenities-contain {
        width: 100%;
        margin-bottom: 20px;
    }

    .location-contain {
        width: 100%;
        margin-bottom: 20px;
    }

    .hop-header {
        padding-bottom: 0px;
    }

    .hop-contain {
        width: 100%;
        padding: 20px;
    }
}

/**
- media query for a tablet 
**/
@media screen and (max-width: 1024px) {
    /* NAVBAR */
    span.nav-link {
        margin: 0 10px;
    }
    .ul-1,
    .ul-3 {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    span.nav-link-main > a {
        display: inline-block;
        margin-bottom: 5px;
        padding-left: 0px;
        font-size: 30px;
        font-family: var(--font-header);
    }
    .ul {
        color: white;
        font-size: 20px;
    }
}
/** 
- media query for phone setting
**/
@media screen and (max-width: 627px) {
    div.nav-nav {
        display: none;
    }

    span.hamburger {
        display: block;
        position: absolute;
        top: 15px;
        right: 25px;
        font-size: 40px;
        color: white;
    }
}
